doctype html
block config
    head
        title This is title
    body
        block content
doctype html
html
    block config
    html
        title=title
        meta(name="description",content=description)
        meta(name="robots", contentr="noindex" )
        meta(name="viewport",
             content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
             )
        link(
            rel="cannonical", 
            href="http://robertoblake.com/")
        link(
            rel="stylesheet", 
            href="style.css")
    body
        include ../header/header
        .content
            block content
        hr
        include ../featured/featured

        .footer
        include ../footer/footer


